[2017-09-24 14:47] Knight-X opened #1 "build failed"
command: mbed compile -t ARM -m K64F
what is target board ?
ARM_PATH = "/usr/local/ARM_Compiler_5.06u5"

[mbed] ERROR: "/usr/bin/python" returned error code 1.
[mbed] ERROR: Command "/usr/bin/python -u /root/2/mbed-os/tools/make.py -t ARM -m K64F --source . --build ./BUILD/K64F/ARM" in "/root/2"

[2017-09-24 16:38] neil-tan commented on #1
A Readme.md is added with build instruction. Could you please post a more comprehensive error message if it still fails?

[2017-09-24 17:22] neil-tan commented on #1
If the build still fails, could you use GCC?
https://launchpad.net/gcc-arm-embedded

This project uses C++11, in case ARM Compiler does not support it.

[2017-09-25 06:30] Knight-X commented on #1
Building project uTensor (K64F, ARM)
Scan: .
Scan: env
Scan: mbed
Scan: FEATURE_STORAGE
Scan: FEATURE_LWIP

[OS ERROR] Command: /usr/local/ARM_Compiler_5.06u5/bin/armcc -c --gnu -Ospace --split_sections --apcs=interwork --brief_diagnostics --restrict --multibyte_chars -O3 -DNDEBUG --cpu=Cortex-M4.fp --md --no_depend_system_headers --c99 -D__ASSERT_MSG --cpp --no_rtti --no_vla -DFEATURE_LWIP=1 -D__

[2017-09-25 07:42] neil-tan commented on #1
This seem to be more of a tool-chain issue than the repository's.
Could you please verify that `$ARM_PATH\bin\armcc` is reachable?

This might be relevant:
https://os.mbed.com/questions/73880/Get-error-whil-compiling-mbed-os-example/

[2017-09-25 07:50] Knight-X commented on #1
root@0e29ace78b3c:~/uTensor# mbed compile -t ARM -m K64F --profile=./build_profile/release.json
usage: make.py [-h] [-m MCU] [-t TOOLCHAIN] [--color] [--cflags CFLAGS]
               [--asmflags ASMFLAGS] [--ldflags LDFLAGS] [-c]
               [--profile PROFILE] [--app-config APP_CONFIG] [-p PROGRAM]
               [-n PROGRAM] [-j JOBS] [-v] [--silent] [-D MACROS]
               [-S [{matrix,to

[2017-09-25 13:01] neil-tan commented on #1
@Knight-X has communicated that lib32stdc++6 needs to be installed. No further testing were carried out as a ARM-compiler license is required.

[2017-09-25 13:01] #1 closed

[2017-09-28 08:10] Knight-X opened #3 "compiletestdata.py error in linux"
1. Traceback (most recent call last):
  File "compileTestData.py", line 28, in <module>
    FULL_OUTPUT_DIR = (Path.cwd() / OUTPUT_DIR).resolve()
  File "/usr/lib/python3.5/pathlib.py", line 1109, in resolve
    s = self._flavour.resolve(self)
  File "/usr/lib/python3.5/pathlib.py", line 330, in resolve
    return _resolve(base, str(path)) or sep
  File "/usr/lib/python3.5/pathlib.py", line 315, i

[2017-09-28 08:12] Knight-X commented on #3
1.  before call path.resolve(), the folder should be existed in linux environment. Otherwise, it would output error message.

2. the parameter in os module should be str

[2017-09-28 19:12] neil-tan commented on #3
Thanks for the PR, merged.

[2017-09-28 19:12] #3 closed

[2017-10-31 03:23] Knight-X opened #26 "ramdom gen: stack underflow"
In commit 3ae024dd016d439113f032a99a8d4a9e295b721a

std::random_device rd;
std::default_random_engine gen = std::default_random_engine(rd());
it will cause unknown stack underflow, waiting for future answer

[2017-11-05 05:53] sandys opened #31 "documentation on training and tensorflow export"
can you update your documentation to elaborate more on how to do training and export and use the data in the microcontroller.

Only thing current github project mentions is "The related Tensorflow training script please refer to the node-viewer project". Its very disconnected and we are not able to connect them both properly.

[2017-11-05 14:36] neil-tan commented on #31
Hey.  Definitely.

  Although, for the next 2 weeks, the focus is on getting the release 0.1 out of oven, I can give you some foresight here.
### The basic flow is:

  - Train your model (Pay attention to what Ops you use. There is only basic ones like MatMul, Relu, Argmax, Quantization,etc )
  - Freeze you graph
  - Quantize the graph
  - Using Tensor Board, Identify all the constants (Tensors) y

[2017-11-06 10:07] mbartling opened #32 "[OSX] SD prep virtual environment breaks mbed compile"
For some reason python3 virtual environments, even when deactivated, are getting picked up during  mbed compile. This causes `sys/termios.h` to not be found by the mbed build tools.

Steps to recreate:
[code]

[2017-11-06 10:07] mbartling commented on #32
WORKAROUND
`mv venv .venv`

[2017-11-08 12:21] mbartling opened #35 "Enabling debug trace causes system crash on file ops"

[2017-11-14 09:45] Knight-X opened #40 "optimization notes"
1. reshape function should optimize for inference dimension of output
2. quantizev2 function dimension inference should be optimized
there are just work around for now

[2017-11-16 07:23] Knight-X opened #41 "generate code for deploying model"
in current deployment steps, we need to extract weights from tensorflow and quantize. It is unfamiliar for data scientist, I think that we need to create codeGen tool to deal with this thing.
It probably contains:

1. generate code depends on trained model from tensorflow
2. using context object to describe graph connectionn and execute
3. integrate cli tool to deploy model automatically

[2017-11-16 07:26] Knight-X opened #42 "Distributed computing"
1. http tensor for make connection with other device
2. make connection with tensorflow framework to do inference
3. load model from cloud service

[2017-11-16 07:28] Knight-X opened #43 "execution optimzation"
1. async and thread pool to execute faster
3. sd tensor to run bigger model (vgg19, res-net128)
2. optimize graph construction to achieve parallelism

[2017-11-16 07:30] Knight-X opened #44 "context singleton pattern"
in the program, should context be copied ? If it could, the reference count would also have copy, is it meaningful ?
1. since context should not be copied in the same program, it should assure that is just one object in runtime.

[2017-11-16 07:32] Knight-X opened #45 "tensor data compression"
when we transmit data with Lora, the size of data should be small. Should we have some compress tool to achieve this ?

[2017-11-16 07:42] Knight-X opened #46 "compatible with tensorflow lite file format"
in the program, we use idx file to do inference, should we transfer to tensorflow lite ? I think that it will make program integrate easier ?

[2017-11-18 05:14] neil-tan opened #52 "modify context to refer tensors by string naming"
Currently, tensors are passed/tracked by smart pointers. This complicates the syntax and eats lots stacks. Purposing changes to do this using string naming within context.

[2017-11-19 10:46] neil-tan commented on #52
implemented

[2017-11-19 10:46] #52 closed

[2017-11-20 09:20] neil-tan commented on #26
@Knight-X I believe you have an answer to this already. Would you like to update and close this?

[2017-11-20 16:34] mbartling commented on #31
Hey @sandys, I am working on the tooling for squashing this flow into:

- Train your model
- Freeze the graph (ex. to a .pb file)

Running utensor-cli will handle the optional quantization, IDX dumps, and interface creation on the device.

You can find the current updates here: https://github.com/mbartling/utensor-cli

[2017-11-21 05:26] rkuo2000 opened #57 "OverflowError: Python int too large to convert to C long"
// python3.6.3 64bit installed on Windows 7 Ultimate SP1 64bit
$ python compileTestData.py
FULL_OUTPUT_DIR C:\Users\RKUO\uTensor\TESTS\scripts\testData
FULL_PREGEN_DIR C:\Users\RKUO\uTensor\TESTS\scripts\PRE-GEN
float_4d_power2 sum:  -1.0
int16_4d_power2 sum:  270250
Traceback (most recent call last):
  File "compileTestData.py", line 48, in <module>
    exec(open(str(item), "r").read())
  File "<

[2017-11-21 06:00] Knight-X commented on #57
thanks for your report. @neil-tan The bound of tmp variable in int32_4d_power2.py sould be less than 2 ** 31 not 2 ** 32. I will fix this.

[2017-11-26 05:18] neil-tan commented on #57
Thanks to @Knight-X, this issue has been addressed. Please pull, update testData and run again.

[2017-11-26 05:18] #57 closed

[2017-11-27 13:27] mbartling commented on #46
@Knight-X I think Flatbuffers can be used in place of the code generation + idx step, however I we need to evaluate flatbuffers impact on the code footprint. It's probably a good idea to add this as an optional feature

[2017-11-28 21:30] mbartling commented on #41
I have a basic template here: https://github.com/mbartling/utensor-cli
This is still up for discussion.

## Goals
1. Users should be able to have more than one inference model per program
1. Model interface should be consistent
1. Model should adapt to more than one input
1. Model interface should be importable as a libary and thus reusable
1. User should have control of memory, i.e. when/where mo

[2017-12-03 13:54] mbartling opened #62 "Make uTensor a library"
I think it's about time we move `main.cpp` into a separate example repo and turn uTensor into an importable library.

# Proposal
1. Create neil-tan/uTensor-example repo
1. Move main.cpp to repo
1. Make main.cpp generation an optional part of codegen

[2017-12-06 08:49] dboyliao opened #63 "Softmax Op"
It's common to see softmax operation in simple multi-layer perceptron.
I think we need to support such operation ASAP.

[2017-12-08 09:32] dboyliao opened #64 "Missing check tensor alloc"
I use my automatic code generation program and I found that you guys forget to check alloc of the output min or max value tensors.
To be specific, let's consider following code snippets:
`main.cpp`:
[code]
and `matmul_ctx.cpp`
[code]

`matmul_ctx.hpp`
[code]

Compile them with `uTensor`, there is no value for the min, max tensors such as `z_8bits_qmatmul_min` and `z_8bits_qmatmul_max` and the test

[2017-12-08 15:20] dboyliao opened #65 "include header order"
`main.cpp`:
[code]

`linreg_ctx.hpp`:
[code]

`linreg_ctx.cpp`:
[code]

[2017-12-08 15:22] dboyliao commented on #65
These files can not be compiled in `uTensor`.
However, if we change the include header order in `linreg_ctx.cpp`:
[code]
Then it compiles.

[2017-12-08 15:38] dboyliao commented on #65
I found that the key is the order of `context.hpp` and `MatrixOps.hpp`.

[2017-12-09 06:40] dboyliao opened #67 "Missing output tensor resize in Max/Min Ops"
Max/Min Ops do not resize the output tensor properly.

[2017-12-09 08:04] neil-tan commented on #67
duplicate issue: #64
closing it.

[2017-12-09 08:06] #67 closed

[2017-12-09 08:11] dboyliao commented on #64
I also like to point out that I found MaxOp/MinOp do not alloc output tensors either.
Make sure solving them altogether.

[2017-12-09 17:52] dboyliao opened #69 "Inconsistent behavior with TensorFlow"
I found some reduce function, such as MaxOp or MinOp, in uTensor that behave differently than its counterpart in Tensorflow.

I summarize a few in following ipython notebook:
https://github.com/dboyliao/utensor_cgen/blob/develop/tests/test_cases.ipynb

[2017-12-09 17:53] dboyliao commented on #69
Please pay attention to the testing graph for MaxOp

[2018-01-15 12:55] janjongboom opened #71 "fread return values are not checked"
uTensor always assumes that file system operations succeed, and will not throw helpful errors when they fail. E.g. fread on the header will just throw magic number invalid if fread reads 0 bytes. Also, possibility for a race condition when the memory happened to have the magic number in it.

[2018-01-15 13:06] janjongboom opened #73 "Split application and library up"
At the moment all of uTensor lives in the same library. I would like to depend on uTensor as a library in an Mbed OS project, but at the moment everything, including test sets, `main.cpp`, and demo's are living in one repo. Would it make sense to have a `uTensor` library which only contains the base uTensor code, and a `uTensor-demo` app which contains pre-trained sets for the handwriting recognit

[2018-01-19 17:00] mbartling opened #76 "Explicit size constructor for Tensor class"
It would be nice to have
[code]

With similar behavior to

[code]

Basically, it allows you to construct a new Tensor of pre known number of linear elements in place

[2018-01-19 18:59] mbartling opened #77 "Remove mbed.h"
`#include "mbed.h"` should not be in any of the uTensor library except for tests. These dependencies need to be removed.

[2018-01-19 20:06] mbartling opened #78 "init_env should be moved to code gen"
Right now `init_env()` is platform specific. This needs to be either made into a class with empty default, or moved completely into code_gen

[2018-01-23 03:45] Knight-X commented on #78
yes, i agree. it is just a temporary hack.

[2018-01-24 20:26] mbartling opened #79 "Need Neg Operator"
Hey guys, this should be pretty low hanging fruit.
https://www.tensorflow.org/api_docs/python/tf/negative
OPNAME: "Neg"

[2018-01-30 04:18] Knight-X opened #81 "folder hierarchy improvement"
1. We need a new folder hierarchy to make including path clear and reduce the possibility of linker error as happened before.
2. remove main.cpp and move it to a tutorial or created by codegen

[2018-01-30 15:33] mbartling commented on #81
3. remove mbed-os.lib

[2018-01-30 16:08] mbartling commented on #81
https://github.com/uTensor/uTensor/pull/82

[2018-02-01 17:34] neil-tan commented on #73
PR82 is addressing this. It is currently being merged into the dev branch.

[2018-02-03 21:25] neil-tan commented on #31
Release 0.2 is live and should address this.

[2018-02-03 21:25] #31 closed

[2018-02-03 21:26] neil-tan commented on #81
Merged

[2018-02-03 21:26] #81 closed

[2018-02-03 21:27] neil-tan commented on #41
See the code generator for uTensor: https://github.com/uTensor/utensor_cgen

[2018-02-03 21:27] #41 closed

[2018-02-06 13:24] neil-tan commented on #73
merged

[2018-02-06 13:24] #73 closed

[2018-02-06 13:25] #62 closed

[2018-03-27 10:43] janjongboom opened #89 "Remove sd-driver dependency from uTensor"
^ Should not be needed. @neil-tan @mbartling

[2018-04-13 08:17] neil-tan opened #93 "Public Channel"
We need a way to interact with external developers as the project continue to grow. The public channel let us:

- Collect Feedback
- Support
- Bring transparency to our dev cycles
- Archive Q&A and design decision

We currently have a google emailing list, but is there something more we can do?

We have a public google group with slack integration. Can we do something that has a shorter turn-aroun

[2018-04-13 08:39] neil-tan commented on #93
Using only google-group, what we have now, is also an option.

[2018-04-13 23:00] nimaaghli commented on #93
Can you please provide your google group link?

[2018-04-14 19:57] neil-tan commented on #93
Hey @nimaaghli
It is here:
https://groups.google.com/forum/#!forum/utensor
utensor@googlegroups.com

[2018-04-21 04:38] Knight-X opened #96 "binary/inline tensor"
To remove the dependency on SD card for model parameters, we could compile weight parameter into code and flash onto the chip. We can make those parameters stored in read only flash area and create tensors using const array instead of  idxImporter. Any Ideas ?

[2018-04-21 08:22] dboyliao opened #97 "QuantizedReshape Op support"
Current quantization process will produce QuantizedReshape op which uTensor do not support yet

Reference:
https://github.com/tensorflow/tensorflow/blob/f7ec99516ce0e0937e0b865e90aa02c748cd36c6/tensorflow/core/kernels/quantized_reshape_op.cc

[2018-04-21 17:57] neil-tan opened #98 "Release 0.25"
Version 0.2.0 being the previous release. The master branch is quite behind of the develop branch. Many useful features has been implemented since then. Perhaps it's time for a half-release, version 0.2.5. Let's use this issue to discuss what's to be include in this version.

[2018-04-21 17:58] neil-tan commented on #98
What do you think of the version number? We might want to include CNN support in version 0.3.

[2018-04-22 09:08] dboyliao commented on #97
Yes.
However we need it if we want to make code generator support normal reshape operations.
Some reshape op in Tensorflow will be transformed into quantized reshape op depending on the architect of the input graph.
As far as what I know, there is no workaround on this instead of implementing the quantized reshape op.

[2018-04-22 09:13] neil-tan commented on #26
It was in fact stack overflow. Mbed-OS has updated the output error message.

[2018-04-22 09:13] #26 closed

[2018-04-22 09:16] neil-tan commented on #89
See #96

[2018-04-22 09:42] neil-tan opened #99 "CNN Example Creation"
We will create a new repository to host our CNN demo.

## Content

- A README Quickstart
- Training Script
- Demo Video or Images

## The dataset **TBD**
- [Activity of Daily Living](https://archive.ics.uci.edu/ml/datasets/Dataset+for+ADL+Recognition+with+Wrist-worn+Accelerometer#)
- [CIFAR10](https://www.cs.toronto.edu/~kriz/cifar.html)

## The network architecture **TBD**
- [CNN for Key Word Spo

[2018-04-23 14:52] mbartling commented on #96
I think we should still maintain the importer layer.
 i.e. something like this, or have an importer factory or something.

[code]

[2018-04-23 14:53] mbartling commented on #98
Dont forget to add unified testing structure.

[2018-04-24 13:18] Knight-X commented on #96
That is cool and it will minimize the complexity of idxloader now.  Just we have to consider whether we support idx format or not ? In order to minimize the code size, i would prefer to store the const weight pointer purely. How do you think ?

[2018-04-25 13:49] neil-tan commented on #96
Performance is a major consideration for the binary/inline tensor class. It would be nice if it adapts target devices' native format.

I am trying to think of the reason for keeping the importer here. @mbartling, my guess is we can do more runtime trick this way?

Keep in mind that every tensor also inherits an init and de-init hook from the tensor-base class.

[2018-04-26 15:02] neil-tan commented on #98
lol  guys
@dboyliao All there's missing is dropout, then, you'd have a full-blown CNN. Should we add it in?
@mbartling yeah  that's going into the release note

[2018-04-26 16:10] dboyliao commented on #98
I just finish the dropout name scope parsing thing tonight.
I think dropout is working but I need more tests to be sure.

[2018-04-26 17:57] mbartling commented on #96
I would still sacrifice the slight read time and have the `FormatReaders` separate from the `PlaceImporters`.
For example `ImporterSD<IdxReader> myReader();` or `ImporterSD<WAVReader>`, or `ImporterSdRam<ConstReader>`.

Block memory reads are way more expensive than adding one more read pointer function call, so having the additional configurability greatly simplifies the code base without any rea

[2018-04-26 18:47] neil-tan commented on #96
I like the idea of having the `FormatReaders` and `PlaceImporters` separated. We might be able to make universal tensor importers using polymorphism, `Importer(Tensor* t, FmtReader* pipe)`

@mbartling Can you clarify what you meant by "Block memory"? Block in the sense of a chunk of memory or busy I/O?

[2018-04-27 08:36] neil-tan commented on #96
wave files, think of it as bmp for sound.

[2018-04-27 15:44] mbartling commented on #96
@neil-tan Block memory as grab adjacent bytes. It's partially file system dependent for performance

[2018-04-29 05:55] neil-tan commented on #96
To give it a bit of context:
- The Tensor class [initialization](https://github.com/uTensor/uTensor/blob/8fde39d05bc20c82fa7ca4499b7ad531e7ec6fe0/uTensor/core/tensor.hpp#L117)
- [Heap allocation](https://github.com/uTensor/uTensor/blob/8fde39d05bc20c82fa7ca4499b7ad531e7ec6fe0/uTensor/core/tensor.hpp#L126)
- Different types of tensors can be derived from the base Tensor, for example, the [SDTensor]

[2018-04-29 06:25] Knight-X commented on #96
I think that clean importer interface is nice, but we need to consider whether it could reduce the sram memory usage in binary tensor. Should we just consider the interface of making binary tensor first ? Then, we could just make importer interface clean and decide what type of tensor should be supported.

[2018-04-29 18:33] neil-tan commented on #96
Hey, just spoke with Marcus, looks like the bottomline is having the tensor-data-void-pointer be static-const. This should allow us to keep the model parameters on the flash instead of heap. Creating a new Tensor class is probably the easiest way. It will be read-only. Don't mind having the importer here as long as the interface makes sense and keeps the data in flash.

[2018-04-29 21:27] marcuschangarm commented on #96
Just to clarify, the important part is having the actual array being declared `const` and not just the pointer.

[2018-05-02 08:10] neil-tan commented on #93
Guys, ever get that feeling of wanting a new toy? I just tried out gitter and thought it's kinda nice. You can readily use it if you have a GitHub account which is quite relevant to our audiences.

It's too much hassle to move away from Slack at this point. Though, gitter may work well as a public channel. All we have to do is to integrate it with our Slack.

Then, there's the question of google-g

[2018-05-02 08:50] Knight-X commented on #96
I have drafted binary tensor, and i will write test case which is similar to sdtensor test for it. Therefore, I need some feature to transform weights to const pointer in c++, which will be in codegen.

[2018-05-10 16:37] neil-tan opened #101 "Tensor Move semantics"
The shared pointer in the Tensor class is meant to prevent copying the tensor data buffer during value returns and assignments. This can be accomplished using Move semantics in C++11, and it seems to be the proper way to do it.

[2018-06-09 07:16] mbartling opened #103 "Update Tensor R/W interface"
Proposed update for the Tensor read write interface:

[code]

[2018-06-10 18:01] neil-tan commented on #103
@Knight-X Did you mean we should divide the work among us to update the tensor interface for all operator classes?

[2018-06-11 02:53] Knight-X commented on #103
ya, thanks for your explanation. Really precise.

[2018-06-14 14:58] akshu2025 commented on #97
Hello,
I tried uTensor with the deep_mlp example and I encountered the following error
![grafik](https://user-images.githubusercontent.com/28738415/41420114-0e9f686e-6ff4-11e8-9708-921dbc2bc117.png)
Any suggestions and help would be really helpful to proceed further.

[2018-06-14 15:00] akshu2025 commented on #97
I would like to use uTensor for my neural network model to be implemented on the controller. I am facing the same problem even if I provide my file as input.

[2018-06-14 16:27] neil-tan commented on #97
@akshu2025  Thanks for bringing this to our attention. At the moment, this look like a quantization problem rather than missing operators. @dboyliao Might be a better person to respond to this. In the meantime, could you please try feeding the utensor-cli with a none-quantized pb file?

[2018-06-14 18:56] akshu2025 commented on #97
Hello,
I think you are right. Its working without quantistion:) The cpp and hpp files are generated.
I have a query, It would be really helpful if you can help in solving it.
I have trained a LSTM model in Keras and used keras_to_tensorflow.py from github to convert it to a tensorflow freez graph. My aim is to implement it on controller and hence i am using uTensor.
I have not quantised my pb file

[2018-06-15 01:02] mbartling commented on #97
@akshu2025 Honestly not too sure about that error, might be related to the following
https://github.com/tensorflow/models/issues/1879
https://github.com/uTensor/utensor_cgen/issues/27

My guess is there is an issue with handling the recurrence from the LSTM.
Is this the script you are using to do the transform? https://github.com/amir-abdi/keras_to_tensorflow/blob/master/keras_to_tensorflow.py

Fi

[2018-06-15 04:48] mbartling commented on #63
FYI for CMSIS
https://github.com/uTensor/uTensor/blob/f/cmsis-ops/uTensor/ops/cmsis_ops/softmax.hpp

[2018-06-15 05:11] dboyliao commented on #97
Hi, @akshu2025.
Thanks for trying the code generator on a RNN.
This is sth I didn't have time to test it through.
As for the problem you encounter, I can better figure out what the bug is if you can provide me the pb file you use.
Is that pb file confidential?

[2018-06-15 06:25] mbartling opened #104 "Remove std::string to shrink code size"
Earlier we found that just removing std::string and using c string, we could shrink code size dramatically.

Ultimately we need to roll out our own string class, here are a couple of options:

1. The naive approach: just wrap c strings with vector. Extremely dumb
[code]

2. Only use c strings: string comparison is O(N) in context lookups. Probably not a huge factor on runtime since this gets overs

[2018-06-15 08:06] akshu2025 commented on #97
Hello @dboyliao and @mbartling  , Thank you for the reply:)
Yes, I am using the script keras_to_tensoflow as you stated in the link @mbartling
I think I am using a different branch of utensor which do not contain the file quantise.py (i did pip install utensor_cgen)
But I have disabled quantize field from keras_to_Tensorflow.py file, but no luck, seems to give same error.
Neverthless, I will try w

[2018-06-15 09:41] akshu2025 commented on #97
The error seems to be the same with latest uTensor0.1.11.
Also, uTensor0.1.11 does not support Identity op? (found this when I tried with another example)

[2018-06-15 09:43] dboyliao commented on #97
It's probably because of training ops.
You can take a look at this demo example for how to serve a model to uTensor:
https://github.com/uTensor/utensor-mnist-demo/blob/master/tensorflow-models/deep_mlp.ipynb

I should make it clean or check for you in the code generator.
Nice user feedback!

[2018-06-15 11:31] akshu2025 commented on #97
@dboyliao : I cannot share my .pb file as it is confidential, but it regenerated the error using the LSTM network similar to mine and I am sharing that .pb file
[LSTM_stateful.h5.pb.zip](https://github.com/uTensor/uTensor/files/2105805/LSTM_stateful.h5.pb.zip)
The error is
![grafik](https://user-images.githubusercontent.com/28738415/41465931-6244d376-70a0-11e8-84d2-4091dfe92e7f.png)

[2018-06-15 15:20] neil-tan commented on #97
@dboyliao @akshu2025 @mbartling @Knight-X
Although the Context class has features to support RNN (via static_add), I don't believe we have started the work on the code-gen side. It's in the plan though but still probably months away.

My recommendation is to convert it to a MLP (or, CNN if you can wait for a couple weeks), and run this.

I should also mention that we are working on a contributor g

[2018-06-15 16:46] dboyliao commented on #97
I agree.
As for me, it's always good to look into what's going wrong for the code-gen.
At least it can tell me what's the limitation of code-gen or what should we do next for resolving the issue (maybe a better IR, which is crucial to the code-gen).
I may not do it right away, but it's still good to have a first grasp of the idea.

[2018-06-15 17:09] neil-tan commented on #97
@akshu2025 Sorry to say that we should have made it more clear what's supported at the current time. For now, can you please try prototyping with FC or CNN?

[2018-06-15 17:52] akshu2025 commented on #97
@neil , I am using a time series data. So I am not sure if I can really
achieve the required output with CNN or FC.
Nevertheless I will give you my feedback on Monday after consulting my
supervisor.
I would really appreciate if you have any suggestions regarding
implementation of neural network model on to microcontroller.

On 15-Jun-2018 7:10 PM, "Neil Tan" <notifications@github.com> wrote:

[2018-06-15 18:49] neil-tan commented on #97
@akshu2025
Understood
Checkout https://github.com/uTensor/ADL_demo

A far cry from RNN, but that’s how I deal with it now.

[2018-06-15 21:16] akshu2025 commented on #97
@neil
Ya sure, I will check with this version and update you.

On 15-Jun-2018 8:49 PM, "Neil Tan" <notifications@github.com> wrote:

[2018-06-16 05:37] dboyliao commented on #97
@akshu2025
I inspect the pb file you gave me, I summarize a few things here:
- `Identity` op is not available in `uTensor` (should be a quick fix). You can use `--output-nodes` option to specify the output nodes rather than the `Identity` op (in your pb file, it would be `dense_4/Softmax`)
- Tensorflow api fails on converting `tf.resource` to a numpy data type which is used in `utensor_cgen`. Mayb

[2018-06-16 05:39] dboyliao commented on #97
BTW, you can find the `tf.resource` documentation here:
https://www.tensorflow.org/api_docs/python/tf/DType

And if you click on `tf.resource`, it give you a 404. Fuck that.

[2018-06-16 05:48] dboyliao commented on #97
I've read the source code of `RNNCell` or `LSTMCell` in Tensorflow.
I think it's possible to remove all the nodes we don't want but still implement a RNN as desired in Tensorflow.
@neil-tan @mbartling I can do this maybe in the next release. I think it's better to say that we don't support RNN in uTensor for Tensorflow.

[2018-06-17 09:16] neil-tan opened #106 "Test - Release Readme"
Release Note
Release schedule

[2018-06-17 09:18] neil-tan opened #107 "Contribution Guide"
Create a contribution guide
Reviewed by the team
Supported by @neil-tan

[2018-06-20 08:41] akshu2025 commented on #97
Thank you so much for the reply @dboyliao @neil-tan @mbartling
I think FC or MLP does not serve my purpose.
Nevertheless, If I am using this tool, I will surely update it here.

[2018-06-20 08:56] neil-tan commented on #97
@akshu2025 Understood. Check back here from time to time. We are releasing the Test-Release in  next couple days. Mostly, updated readme. But, you may find the future roadmap useful.

[2018-06-26 04:56] metanav opened #110 "utensor-cli required parameters?"
When I run following:
[code]

Gives the error message:
[code]

What is the values for this required param?

PS: I am following the README.md for first time.

[2018-06-26 05:06] dboyliao commented on #110
Please checkout to `develop` branch and run:
[code]
The `master` is out of date and will be updated soon.
Sorry for the error.

[2018-06-26 05:06] dboyliao commented on #110
Remember to reinstall the cli again with `pipenv` first

[2018-06-26 05:10] metanav commented on #110
Thanks, it worked!

[2018-06-26 05:10] #110 closed

[2018-06-26 07:46] metanav opened #111 "Build failed"
I am compiling using the command:
[code]
Which gives these errors:
[code]

[2018-06-26 09:06] metanav commented on #111
Ok I checked out the develop branch inside the uTensor and started build again:
The previous error has gone but new errors are:
[code]

[2018-06-26 09:09] dboyliao commented on #111
Check the include order of `simple_mnist.cpp` and `simple_mnist.hpp`
Make sure `context.hpp` is included *before* other headers.

It's a known issue, but we just don't have enough time to go through it.

[2018-06-26 09:42] metanav commented on #111
Here are are headers:

models/simple_mnist.hpp
[code]

models/simple_mnist.cpp:
[code]
main.cpp

[code]

Still getting the compilation time errors:
[code]

[2018-06-26 10:29] neil-tan commented on #111
@metanav
Thanks for letting us know. Is your uTensor runtime on the develop branch? We are in the process of releasing changes. Sorry for the errors.

@mbartling I will try this out. Anything else you can think of?

Neil

[2018-06-26 10:34] metanav commented on #111
@neil-tan What do you mean by "uTensor runtime"?

Project directory listings:
[code]
If you meant the "uTensor" directory, that is on develop branch in my project.

[2018-06-26 10:41] neil-tan commented on #111
@metanav

Could you `cd` into the uTensor directory and run `git branch -a`. Try checking out the develop branch if it’s not already on there. If this still doesn’t work, I can try replicate this tonight.

[2018-06-26 10:43] metanav commented on #111
I get this:
[code]

[2018-06-26 10:50] neil-tan commented on #111
Ok. I will have a look later

[2018-06-26 11:16] neil-tan commented on #111
Looks like the last known good commit is shown in this file:

https://github.com/uTensor/utensor-mnist-demo/blob/master/uTensor.lib

I will try to see what’s broken. But do please give me a shout if this fixes your problem.

[2018-06-26 11:53] metanav commented on #111
Thanks @neil-tan  build process completed successfully after adding this commit.

The final step to run on the device (using same compile params with -f) keeps waiting on this line:
[code]
It supposed to flashe the bin to the device, right? But for some reason mbed is not detecting my device.
I manually copied the bin to the DAPLINK directory. But still the Coolterm does not show any messages.
Als

[2018-06-26 12:03] mbartling opened #112 "dirent.h@10,2: #error "<dirent.h> not supported" on some platforms"
need a smart way of getting around this.

[2018-06-26 12:39] mbartling commented on #112
@neil-tan It was introduced with the CI setup. The issue is around how we do directory management for testing. I should be able to work around it.

[2018-06-26 12:43] mbartling commented on #111
@metanav you can get around the dirent issue by commenting out the following line.
https://github.com/uTensor/uTensor/blob/develop/uTensor/util/uTensor_util.cpp#L3

[2018-06-26 13:03] metanav commented on #111
@mbartling Thanks I will try.

[2018-06-26 13:08] metanav commented on #111
@neil-tan  I am using Mac (High Sierra). I can use screen or Coolterm. What do I expect to see in case of error?

I used following program to test SD.
[code]

[2018-06-26 16:13] neil-tan commented on #111
hey @metanav

  CoolTerm should be fine. The flashing led probably means a runtime error. Try the most basic printf example first:

[code]

 My guess is the pin assignment has gone wrong. Check this [file](https://github.com/uTensor/utensor-mnist-demo/blob/master/mbed_app.json), you may add the right SD SPI pin assignments for your target here. This doc explains how [mbed_app.json](https://docs.mb

[2018-06-26 21:45] neil-tan commented on #111
@metanav Also, try changing the mbed-os version to 5.6. You can do this by cd into the mbed-os directory and checkout the 5.6 branch.

[2018-06-27 03:29] metanav commented on #111
@neil-tan I think the SD pin assignment is fine.  I have already set pin assignment in the mbed_app.json.

[code]
Now after little playing with CoolTerm I was able to see the message:
[code]

[2018-06-27 03:43] metanav commented on #111
If I misspelled the tmp.idx as tmp.id it gives me error on the CoolTerm:
[code]
Otherwise it is fine with correct path, so I can confirm the SD is working fine.
The problematic area is the function call:
[code]

[2018-06-27 03:48] dboyliao commented on #111
@metanav You just find a bug in my code generator reference counting optimizer.
If you are using the `simple_mnist.pb` to generate the code, I think I'm looking at the same cpp code as yours.

The `"OuputLayer/logits_eightbit/OuputLayer/Variable_1__port__0/reduction_dims:0"` tensor has incorrect reference count so it's garbage collected by the `ctx` object.

I'll fix it this night at Taiwan local

[2018-06-27 15:18] dboyliao commented on #111
@metanav
I just fix the reference counting issue for the code generator.
The "tensor does not exist" issue should be gone now.
You can try this at the `develop` branch of `utensor_cgen`.

Let me know if there is any other issue.

[2018-06-28 03:14] metanav commented on #111
@dboyliao
I checked out **develop** branch of **utensor_cgen**. But still getting the same error:
[code]
Also, I tried to do a fresh installation of everything with no success.

[2018-06-28 03:15] dboyliao commented on #111
Ok, I'll check the execution order later.
Thanks!

[2018-06-28 03:18] neil-tan commented on #111
@metanav  were you able to share the .pb file you are working with?

[2018-06-28 03:19] dboyliao commented on #111
@neil-tan
I think the pb file is the `simple_mnist.pb` in our demo repo.
Should be available to everyone.

[2018-06-28 18:18] dboyliao commented on #111
@metanav I look into the generated code and uTensor source code.
I can't see why the tensor is garbage collected.
I have to compile and actually run it to see why.
I don't have free time to do it until next week.

[2018-07-10 14:56] metanav commented on #111
@dboyliao Have you got chance to check it?

[2018-07-10 15:00] neil-tan commented on #111
hey @metanav Not sure if this helps; did you have a chance to take a look at the [project creation guide](https://github.com/uTensor/uTensor/blob/master/docs/newProject.md)?

[2018-07-10 16:00] dboyliao commented on #111
@metanav
I just get it compiled on ubuntu (with docker) last week.
But I'm kind of busy this week (projects on due for works).
Hopefully I can get it done and tested this weekend.

[2018-07-16 12:15] tctchris opened #119 "TypeError: ("'backend' must be <type 'unicode'> (got 'tensorflow' that is a <type 'str'>).""
Hi,

I get the following error when I run ` utensor-cli mnist_model/deep_mlp.pb --output-nodes=y_pred`:

WARNING:tensorflow:From /usr/local/lib/python2.7/site-packages/tensorflow/contrib/learn/python/learn/datasets/base.py:198: retry (from tensorflow.contrib.learn.python.learn.datasets.base) is deprecated and will be removed in a future version.
Instructions for updating:
Use the retry module or s

[2018-07-17 01:02] dboyliao commented on #119
Yes.
It seems like I used the wrong text type.
Thanks for reporting this bug.

[2018-07-17 01:03] dboyliao commented on #119
@tctchris Can you file this PR in the repo of the utensor cli?
It's over here: https://github.com/uTensor/utensor_cgen

[2018-07-17 02:40] dboyliao commented on #119
@tctchris
If you want to fix it by yourself, the bug is over here:
https://github.com/uTensor/utensor_cgen/blob/develop/utensor_cgen/ir/base.py#L94
and
https://github.com/uTensor/utensor_cgen/blob/develop/utensor_cgen/ir/base.py#L252

Maybe you'd like to take a look on `attrs` first:
http://www.attrs.org/en/stable/examples.html

I can fix it only until today night.
Just in case if you can't wait f

[2018-07-18 01:19] dboyliao commented on #119
@tctchris The bug is fixed and the master branch of `utensor_cgen` has been updated.
Closing this issue

[2018-07-18 01:19] #119 closed

[2018-07-18 09:17] tctchris commented on #119
Thanks!

[2018-07-18 09:41] dboyliao commented on #119
@tctchris  BTW, I've upload new version to PyPI.
`utensor-cli` version 0.2.3 should work.
You can run `utensor-cli -v` to see the version on your machine.

[2018-07-18 09:58] tctchris commented on #119
It worked with the Cloud9 workflow, thanks!

[2018-08-20 18:02] mbartling opened #123 "Who keeps putting DEFINITIONS IN HEADER FILES"
https://github.com/uTensor/uTensor/blob/develop/uTensor/core/tensor.hpp

Function definitions go in CPP files not HPP files unless they are static or inline, or templates.

[2018-08-27 18:16] j16180339887 opened #129 "Is it possible to use it with MicroPython"
See also

https://github.com/micropython/micropython

https://github.com/micropython/micropython/wiki/FAQ

Thanks!

[2018-08-28 05:59] Knight-X commented on #129
That is a very interesting idea. Although I am not familiar with micropython, I think that we have some ways to integrate with it.  Intuitively, you need to write the interface between micropython and its corresponding c++ ops. Take a look at our ops directory and give it a try if interested. https://github.com/uTensor/uTensor/tree/master/uTensor/ops

[2018-08-28 07:11] joeky888 commented on #129
https://github.com/joeky888/awesome-micropython-lib

Actually I was searching for all MicroPython libs,

and I am new to MicroPython as well.

I am not sure if libffi can do that
 https://github.com/micropython/micropython/blob/master/examples/unix/ffi_example.py

Every MicroPython library I've found were written in pure python code.

I'll give it a try.

[2018-09-06 18:49] #123 closed

[2018-09-19 17:12] chynphh commented on #96
uTensor is a amazing job.  I want to use it to speed up my model. But I got some trouble.
How can I initialize Tensor with a vector or other something, not idx file？Just like this for
"simple_mnist":

`
    Tensor *data;
    data = new Tensor();
    std::vector<uint32_t> tmp(784, 0);
    data->init(tmp);
    get_simple_mnist_ctx(ctx, data);
    S_TENSOR pred_tensor = ctx.get("y_pred:0");
    ctx.e

[2018-09-19 17:40] dboyliao commented on #96
If you want to initialize tensor with zeros, how about:
[code]
Or you want sth without a loop?

[2018-10-09 13:49] Knight-X opened #134 "test case code refactoring"
In order to simplify the steps of writing test case, we probably need to do some refactoring. For example, we need to run tensorflow and generate idx file manually now. I think that we can write scripts to generate data before running test case automatically.
Then, we can just compare the result between tensorflow and utensor. It will be easier to extend other test case to increase test coverage.

[2018-10-09 14:41] mbartling commented on #134
@Knight-X The only test cases that truly need IDX files are the tensor ops tests and IDX loader. These are assumed to be fixed mathematical operators with well defined behavior as a function of their inputs.

[2018-10-09 23:38] neil-tan commented on #134
@Knight-X @mbartling @dboyliao
Guys, while we are at it, we should replace idx file with ROM_tensor.

[2018-10-12 13:12] Knight-X commented on #134
rom_tensor is fine. But we still need a tool to generate weight array or we have to do it manually. Compared to pushing weight files on github, I think that generating the necessary weight files before running all tests make more sense.

[2018-10-31 13:38] torntrousers commented on #129
Did you ever get anywhere with this?

[2018-10-31 14:13] joeky888 commented on #129
No, I was working on embedded linux and having troubles to cross-compile some Python libs.

After that I switch to Go, Go is extremely easy to cross-compile code to a single static binary on any platform (if all libraries are written in pure Go).

then I use [upx](https://github.com/upx/upx) to compress the binary (reduce binary size to 25%) and put it on my board.

Didn't even try uTensor, I am v

[2018-11-04 15:24] Knight-X opened #135 "context refactoring"
1. Memory Arrangement: a customized new/delete function.  Essentially, pre-allocate a block of memory during the context initialization. The memory will be used for caching ops and memory management of tensor as an attempt to reduce the overhead associated with new/delete of the current approach. Moreover, we can arrange memory precisely because of known memory access pattern.

2. rewrite context

[2018-11-11 09:17] drajmund opened #136 "Error when compiling utensor-mnist-demo"
I followed the instruction, and tried to compile the utensor-mnist-demo with the command:
mbed compile -m DISCO_F413ZH -t GCC_ARM --profile=uTensor/build_profile/develop.json

I received the following message with an error:

Building project utensor-mnist-demo (DISCO_F413ZH, GCC_ARM)
Scan: .
Scan: mbed
Scan: env
Compile [  4.9%]: main.cpp
[Error] image.h@7,50: expected 'class' before 'TENSOR'
[ERR

[2018-11-11 15:18] neil-tan commented on #136
Hey @drajmund
You might want to update your gcc to version 5 or 6 as described in the [mbed-cli doc](https://github.com/ARMmbed/mbed-cli#compiling-code)

Once you got it working, you might also be interested in this [branch](https://github.com/uTensor/utensor-mnist-demo/tree/f/rom-tensor) which does not require an SD card. You can do this by using `git checkout f/rom-tensor`, `mbed deploy` follow

[2018-11-11 15:30] dboyliao commented on #136
BTW, we haven't fix the include order yet.
That is, `context.hpp` must be included first before other header files.
I know I can fix it in the `cli` but I don't think it's a good approach and leaved it as is then.

[2018-11-11 15:31] dboyliao commented on #136
Please refer to #65 for detail.

[2018-11-11 19:47] drajmund commented on #136
Thank you for your help.

I downloaded the new version of gcc-arm-none-eabi and configured mbed as follows:
$ mbed config -G GCC_ARM_PATH /usr/local/gcc-arm-none-eabi-6-2018-q2-update/bin

I added the support for BSP_DISCO_F413ZH:
$ mbed add https://os.mbed.com/teams/ST/code/BSP_DISCO_F413ZH/
$ mbed deploy

Compilation is OK, but I receive "multiple definition of" errors from the linker:

$ sudo m

[2018-11-12 02:55] neil-tan commented on #136
Hey @drajmund

You shouldn't need to manually add the BSP_DISCO_F413ZH. Is there an error/warning led you to do so?

It would be useful to see the error after this line:
`(.text.ft6x06_TS_ITStatus+0x0): first defined here`
Also, the output of this comment at your current project root:
`tree -L 4 -I '*.idx|mbed-os'`

In the meanwhile, can we try a fresh import of the project? Here are the commands

[2018-11-12 09:40] drajmund commented on #136
Oh, the problem was exactly what you mentioned: I manually added BSP_DISCO_F413ZH. (Root cause may be the copy of BSP_DISCO_F413ZH.lib two times?)
After imorting the project and compiling it again I received this :-)
...
Compile [100.0%]: test_env.cpp
Link: utensor-mnist-demo
Elf2Bin: utensor-mnist-demo
...
Total Static RAM memory (data + bss): 19712 bytes
Total Flash memory (text + data): 357041

[2018-11-22 09:13] Knight-X commented on #135
units: Sec
op: MatMul
  push: 0.000991
  eval: 0.133074
op: Quantized Add
   push: 0.001004
   eval: 0.001039
op: quantize v2
   push: 0.000695
   eval: 0.000611
op: Requantize
   push: 0.000884
   eval: 0.000851
The cost of push is as same as eval.

[2018-12-07 09:44] tarakanov opened #137 "esp32 / esp8266 support?"
Anyone tried to use uTensor with non-ARM chips? Especially ESP32, ESP8266. They have different CPU, but widely adopted. It would be great to run uTensor on such popular device.

[2019-01-10 20:39] Akselvb opened #138 "Error uploading .bin file to nRF52"
Hello!

I have been working with the newProject tutorial lately to gain understanding of your library, but I encounter a problem when trying to load the binary onto the device (nRF52, no sd). The board is disconnected every time I try to drag and drop the file onto it. I have tried to use the -c flag, but the issue remains.

Does anyone have had experiences with such issues?

<img width="436" alt=

[2019-01-11 12:58] #138 closed

[2019-01-12 12:19] Akselvb commented on #138
I have tried with cloud client, does not work. However, I closed the issue as it is more of an mbed issue. The board disconnects even with small and simple binaries. Thanks!

[2019-01-14 17:13] Akselvb opened #139 "Error when compiling newProject"
Hello again!

This is more of a question rather than issue. I am trying to do the newProject tutorial on my NRF52_DK, but I get an mbed compile error ('region FLASH overflowed by ... bytes' and '.text will not fit in region FLASH'). For me it doesn't make any sense, because I've changed the size of the NN such that the trained weights file should fit onto the Flash.

I wish to try to compile it us

[2019-01-14 17:20] mbartling commented on #139
Hi @Akselvb,

Do you have any additional programs/c files in your project. For example a Python Virtual env? The online compiler/mbed build tools automatically locate all c/cpp style files to build. Also can you post the image from the build tab on the righthand side?
Should look something like this:
![image](https://user-images.githubusercontent.com/5848519/51128704-23b17b00-17ee-11e9-93f9-c38c07

[2019-01-14 17:37] Akselvb commented on #139
Hi @mbartling

I am following the exact steps of the tutorial, so no additional files. I am doing it with a Python Virtual env (2.7.15) activated, but it doesn't look like any additional files are generated for that reason. The _mbed-os/_ folder generated by the 'mbed new' command is 825MB, is that normal?

<img width="410" alt="screenshot 2019-01-14 at 18 26 22" src="https://user-images.githubuse

[2019-01-14 19:45] mbartling commented on #139
cool, that was actually my main question. Yeah mbed os has a bunch of platform specific stuffs and that takes up a massive amount of space. The build tools know what to compile and ignore + link, so mbed-os will take up approximately 20kB after build.

Just double checking, but the python venv is not in your project directory right? It has a bunch of C files that may either break the build or make

[2019-01-15 09:41] Knight-X commented on #139
ROM tensors have no TensorImporter interface. It should be prepared with codegen. @Akselvb  What do you mean " update image"?

[2019-01-15 09:45] Akselvb commented on #139
@Knight-X I mean when compiling using mbed cli, I get the following result:

<img width="526" alt="screenshot 2019-01-15 at 10 42 38" src="https://user-images.githubusercontent.com/11042389/51171915-62106e00-18b2-11e9-9824-06c8a7e47500.png">

It should be _Image: hello_world.bin_ instead of _Update Image: hello_world_update.bin_, right?

[2019-01-15 09:53] neil-tan commented on #139
My guess is `hello_world.hex`. This is unusually, as I'd expect to see an `.bin` extension as oppose to `.hex`, normally.

[2019-01-15 16:10] mbartling commented on #139
Update image is an extension for mbed Cloud Client, which shouldn't be built unless mbed-cloud-client is part of the project. This is weird behavior for mbed-cli. I don't think it's actually related to uTensor.

Note: Taken from the board page on [os.mbed.com](https://os.mbed.com/platforms/Nordic-nRF52-DK/)
[code]

We may have to forward this question to github.com/armmbed/mbed-os as it might be o

[2019-01-18 10:42] Akselvb commented on #139
Unfortunately, even with the smallest possible NN architecture (1 single neuron), I get the same error message when compiling with NRF52_DK targeted. It is probably me doing something wrong. Can anyone try to compile with the same target and see if they get the same error message? :-)

[2019-01-18 18:00] neil-tan commented on #139
@Akselvb Same error here. I will be flying to Europe in 7 hours and won't be able to look at this further. It would be interesting to look how big of each part of the program is. Perhaps, using the compilation summary for a different target? Will ping some of the Arm folks, see if they have some quick answers.

[2019-01-18 18:12] neil-tan commented on #139
For K66F:
[code]

[2019-01-19 18:13] neil-tan commented on #139
@Akselvb Ok, according to my colleague, the NRF52_DK will require an additional 100kb+ for the BLE stack. Given the module breakdown above, it's not going to fit.

However, we are working on a change that will reduce the dependency on stdc++, which, should cut its binary size significantly. @mbartling

[2019-01-20 17:34] neil-tan commented on #139
@Akselvb
Send us an email at utensor@googlegroups.com
I can invite you to our slack channel, if that's of interest.

[2019-01-20 17:34] #139 closed

[2019-02-02 00:47] auvilink opened #141 "How to add more operator?"
Hi, guys, great job so far.

I tried to export TF trained model (simple audio recognition) to utensor, however, there are many operators in my pb file not supported by utensor, for example:
DecodeWav, AudioSpectrogram, Mfcc, Identity, Conv2D, BiasAdd...

Any chance I can add those operators to uTensor? If so, how?

Thanks.

[2019-02-03 04:08] dboyliao commented on #141
Hi, @auvilink.
It involves two things:
1. the `uTensor` runtime kernel
2. code generator support

For `1`, let's take `Relu` as example.
You can take a look over [here](https://github.com/uTensor/uTensor/blob/master/uTensor/ops/NnOps.hpp).
A `Relu` consist of two parts, the kernel and an Op using that kernel.
The template function,`Relu`, is the kernel and `ReluOp` is the operator.
The op interfac

[2019-02-03 04:15] dboyliao commented on #141
Or you can make a PR to `uTensor` for the c++ kernel, and then my teammate and I will add them to the code generator.
Maybe that'd be faster.

[2019-02-03 06:46] auvilink commented on #141
@dboyliao
Thanks for the explanation.

I'll try to figure it out.

[2019-02-08 03:07] Knight-X commented on #135
class Allocator {
  public:
      template<typename T>
      S_TENSOR allocate(TName _name, std::vector<uint32_t> dim, const T* inline_const, std::string type);

      template<typename T>
      void release(TName _name);
      S_TENSOR getPtr(TName _name);
      template<typename T>
      void yield(TName _name);
      template<typename T>
      void occupy(TName _name);
  protected:
      std::u

[2019-02-08 08:57] neil-tan commented on #135
- `<T>` should eventually be `#define T_name 123` and is generated by cage
- `std::unordered_map`, consider an linearly sorted data structure. There will many many tensor look-ups during one inferencing cycle. This needs to be as efficient at possible.
- try to do away the `string` class, this reduce the overall binary size
- `t = new BinaryTensor(dim, inline_const);` it's fine to use heap alloc h

[2019-02-13 09:26] Knight-X commented on #135
- ` t = new BinaryTensor(dim, inline_const); `That is why  I try to propose the class serialization method. However, we should modify the tensor class because of virtual method.
- Occpy method is aimed to acquire memory, but yield release memory

S_TENSOR is heavier than Tensor *. In order to reduce memory usage, should we consider to deprecate it?

[2019-02-14 09:41] Knight-X commented on #135
`class Allocator {
  public:
      template<typename T>
      void allocate(TName _name, std::vector<uint32_t> dim, const T* inline_const, std::string type);

      Allocator(int a);

      template<typename T>
      void release(TName _name);

      S_TENSOR getPtr(TName _name);

      void yield(TName _name);

      void occupy(TName _name, const std::vector<uint32_t> &v);
  protected:
      std

[2019-02-14 19:15] mbartling commented on #135
@Knight-X can you explain your thought process for `Allocator`, I am having a hard time wrapping my head around it.

[2019-02-14 21:09] mbartling commented on #135
I always imagined the MemAllocators as separate entities. Also things get really convenient if we define our own TensorId type instead of just strings:

[code]

[2019-02-15 11:59] Knight-X commented on #135
[code]

Allocator maintains a bunch of memory buffer to allocate tensor data first and leaves the space for storing tensor object for optimization. During the codegen process, the memory offset is calculated and assigned to allocator to make buffer usage as efficient as possible. After a lifetime of a tensor, the allocator will make the data buffer free for other tensors. We just cache the tensor

[2019-03-22 20:21] letarg0 opened #147 "add xor example"
Please add a simple xor example.

Is possible to create a gem for Ruby or mruby?

[2019-04-05 15:03] dboyliao commented on #99
I think we can close this issue already.
I published a tutorial on medium this morning:
https://medium.com/@dboyliao/simple-cnn-on-mcu-with-utensor-372265ecc5b4

[2019-04-14 13:28] miki89 opened #151 "ReluOp - template brocken since 4cb09cb8b4d0859405e30f64087b76085d227bd3"
Example from https://blog.hackster.io/simple-neural-network-on-mcus-a7cbd3dc108c does not compile any longer:
due to error:

     ctx.push(new ReluOp<uint8_t, float, uint8_t>(),
                                                ^
In file included from .\models\deep_mlp.cpp:8:
./uTensor/uTensor/ops/NnOps.hpp:76:7: note: provided for 'template<class T1, class TOut> class ReluOp'
 class ReluOp : public

[2019-04-14 13:49] mbartling commented on #151
Hi, I actually have a PR for this open in codegen.

https://github.com/uTensor/utensor_cgen/pull/64

[2019-04-14 17:08] miki89 commented on #151
Hi,
sure I understand that, but what confused me also it that the TESTS, even if deprecated and the examples show 3 arguments instead of 2.
https://github.com/uTensor/uTensor/search?q=ReluOp&unscoped_q=ReluOp

Do you also have more a stable branch, where the releases bewteen cgen and uTensor core are synced with each other?
using the develop branch might not always be the best choice.

Thank you a

[2019-04-14 17:10] mbartling commented on #151
Yes, we use master as stable :)

[2019-04-15 05:46] neil-tan commented on #151
@miki89 I agree we should make the working combination more obvious. Perhaps, we should include the tags in the Readme?

[2019-05-08 23:18] alejoseb opened #155 ""Creating a New Project" tutorial is broken"
Hi,
I was testing the examples provided, the first one "Creating a New Project" is not working currently.
It is not compiling with the current version of mbed ( mbed-os-5.12.3). It seems that the build profile to enable C++11 support is not compatible with mbed mbed_rtc_time.cpp file.
The other two examples works as expected.

is it possible to update the example or avoid the C++11 profile?

Part

[2019-05-08 23:21] mbartling commented on #155
Hey @alejoseb,

Thanks for letting us know, completely forgot about this change in the latest couple of mbed-os releases. Give me a few min, will try to fix it now

-Michael

[2019-05-08 23:40] mbartling commented on #155
Update, can confirm this is actually an issue with mbed OS.

Going to raise an issue with them now.

[2019-05-08 23:48] mbartling commented on #155
https://github.com/ARMmbed/mbed-os/issues/10548
https://github.com/ARMmbed/mbed-os/issues/10547

[2019-05-09 03:39] neil-tan commented on #155
@alejoseb.  The temporary fix would be:
[code]
This should rollback to `mbed-os-5.11`

[2019-05-21 13:26] kjbracey-arm commented on #155
The issue is that your build profile pushes the language version up to C++11, but disables GNU extensions, because it's selecting `-std=c++11` not `-std=gnu++11`.

Mbed OS should work fine built as C++11, but I wouldn't expect it to be happy with GNU extensions disabled.

[2019-05-24 11:37] kjbracey-arm commented on #155
Both mbed os issues linked above have been closed (as "not a bug"), so this should probably be re-opened.

[2019-05-24 12:23] mbartling commented on #155
@kjbracey-arm the uTensor codebase was designed around vanilla C++11 for portability. Do you see any issues with enabling gnu extensions limiting the scope of uptake? If not I have no problem updating the build profile

[2019-05-24 12:31] kjbracey-arm commented on #155
I'm not really in favour of using GNU extensions either, but the Mbed OS build profiles have always had them on for GCC and ARM Compiler, so actually turning them off is liable to upset the Mbed OS half of the build. The GNU extensions don't *normally* actually interfere with standard C++11 code.

I'd suggest you could use a `-std=c++11` build to test your codebase (maybe in a non Mbed-OS applicat

[2019-05-24 13:36] mbartling commented on #155
I guess the build profiles are mbed specific anyways so there really is not harm updating them to the gnu extensions for the time being.

[2019-05-28 16:35] mbartling commented on #151
The issue is we migrated the old RELU op (which was quantized) to one with "quantized" in the name for clarity.

[2019-06-20 16:21] janjongboom opened #159 "Always allocates 4 x input layer x first hidden layer bytes"
The first layer of my model is: 186 input nodes -> 150 hidden nodes. uTensor allocates 111,600 bytes for this. This should not be necessary. My weights are already distributed between -127 and 127, and thus I should be able to pass in a `uint8_t` RAM tensor and just allocate 27,900 bytes instead.

Test case here: https://github.com/janjongboom/utensor-test although I made it 186x40 because otherwi

[2019-06-20 18:03] janjongboom opened #160 "TensorFlow outputs vector, uTensor outputs single value"
Maybe (perhaps!) I don't completely understand how uTensor's mapping works, but I have a neural network that has 3 output neurons (Keras code):

[code]

When I run a classification in TensorFlow I get a three-dimensional vector back, e.g.:

[code]

However, uTensor seems to think it should output a single value, rather than a vector. utensor-codegen outputs:

[code]

This looks like a single value

[2019-06-20 18:18] dboyliao commented on #160
I think `y_pred/Softmax:0` should be of shape `1x3`.
You can use `Tensor::getShape` to see what the shape is:
https://github.com/uTensor/uTensor/blob/develop/uTensor/core/tensor.cpp#L99

Here is the declaration of `TensorShape`:
https://github.com/uTensor/uTensor/blob/develop/uTensor/core/tensor.hpp#L30-L34

[2019-06-21 09:33] janjongboom commented on #160
@dboyliao @neil-tan  This returns `2` ?!

[code]

The plot thickens...

[2019-06-21 09:40] Knight-X commented on #160
Weird. It should be 3.

[2019-06-21 09:42] janjongboom commented on #160
@Knight-X @dboyliao Side-question: How am I supposed to loop over this?

[code]

?

[2019-06-21 09:57] dboyliao commented on #160
[code]

That's how I do it.

[2019-06-21 15:34] neil-tan commented on #160
`printf("Size: %lu\n", pred_tensor->getShape().size());` gives you the number of dimensions of the tensor.   1x3 has 2 dimensions

[2019-06-22 09:12] janjongboom commented on #160
Figured it out with @neil-tan, but it'd be great if the codegen can handle this for me, instead of just randomly casting values.

[2019-06-22 09:15] #160 closed

[2019-06-22 09:19] janjongboom opened #162 "uTensor leaks memory"
I have a simple neural network with two hidden layers. Every time I classify through uTensor I'm leaking 500 bytes of memory.

Here's how to log memory:

1. Set the following macro:

[code]

2. Use the following snippet:

[code]

Then I'm invoking uTensor like this:

[code]

Note that if I delete the RamTensor after running this will hardfault so I assume the memory for that is managed by uTensor.

[2019-06-22 09:21] dboyliao commented on #160
What do you mean by randomly casting?

[2019-06-22 09:26] janjongboom commented on #162
Here's the overview of active memory on the heap (generated via [mbed-find-dangling-ptrs](https://github.com/janjongboom/mbed-find-dangling-pointers/blob/master/README.md)):

[code]

So not much help, I guess maybe the shared pointers wrap around some allocations.

[2019-06-22 09:55] janjongboom commented on #160
@dboyliao Codegen knows the size and the type of my output layer. Thus retrieving that tensor should have the right type and size already available. Not just return `const void*` to some piece of memory and let me handle the casting to the right type and making sure I iterate over the memory correctly.

Same with input layer actually. No checks on type and size of what you pass in.

[2019-06-22 10:55] Knight-X commented on #160
float* ptr_pred = pred_tensor->read<float>(0, 0);
@janjongboom do you mean that cast from void* to typed ptr ？ I think that would be a issue of runtime design. Or you mean that we should generate the inference code instead of writing manually?

[2019-07-17 17:23] mbartling opened #166 "[Feature Request] Add shape checking to Placeholder Tensors"
Right now there is no shape checking on Placeholder tensors, this means that invalid shapes will still propagate through the model and lead to weird errors.

[2019-07-26 08:58] neil-tan commented on #166
@mbartling Your point is valid. This relates to a trade-off between runtime's simplicity and code-gen's complexity. Perhaps, a middle ground would be using C++'s `#ifdef` macro, including checking, testing and profiling code only when needed?

[2019-07-26 12:58] mbartling commented on #166
@neil-tan I completely disagree. This is 100% a runtime issue only and should not be pushed into codegen.

It is a single if case.

[2019-08-09 10:19] karimkhanvi commented on #155
Thanks this is good quick fix.

[2019-08-12 09:41] neil-tan commented on #162
@mbartling Can you please share your memory debugging setup/info here as well?

[2019-08-21 12:42] janjongboom opened #170 "Misclassification vs. TensorFlow"
I have an example program here: https://github.com/janjongboom/utensor-misclassifies

The first classification is completely wrong... I added a second one to do sanity checking and that one seems to be OK.

TF result:

[code]

uTensor result:

[code]

The trained model and classification scripts for TF and uTensor are available in the repo.

[2019-08-21 14:04] dboyliao commented on #170
@mbartling
I think you are the one to blame XDDD

@janjongboom
According to my private message with @mbartling, the `SoftmaxOp` implementation is incorrect.
It was a hack for an internal demo.
I just finish graph constructor for the codegen, so I'll fix the implementation later.
Just give me some time.

[2019-08-21 14:05] dboyliao commented on #170
Still, thanks for your demo code.
I'll test the result against your code.

[2019-08-21 14:26] dboyliao commented on #170
BTW, I'll implement the C++ api of TF softmax:
https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/softmax

,which works on only 2-D tensor.

If you look at the python wrapper for softmax in TF:
https://github.com/tensorflow/tensorflow/blob/r1.14/tensorflow/python/ops/nn_ops.py#L2876-L2903

I think it's too much of work to support multi dim tensor softmax op.
What do you guys think? @janjo

[2019-08-21 14:50] janjongboom commented on #170
@dboyliao What do you mean? I'm not using any explicit softmax as far as I know. Just simple MLP 40x20x10x4.

[2019-08-21 15:15] dboyliao commented on #170
https://github.com/janjongboom/utensor-misclassifies/blob/master/fw/utensor-model/trained.cpp#L537-L542

I see the `SoftmaxOp` is in your model cpp file.
So I think this misclassification issue is due to the incorrect output of `SoftmaxOp`

[2019-08-21 15:37] dboyliao commented on #170
@janjongboom
I'll need your training script for debugging.
TF-related issue.

[2019-08-21 19:17] janjongboom commented on #170
@dboyliao

[code]

[2019-08-26 06:48] janjongboom commented on #170
@dboyliao @mbartling Does landing #171 mean this issue should be fixed?

[2019-08-26 07:44] neil-tan commented on #170
Further test is required to confirm this. But, yes, according to @dboyliao 's comment on your sample training script.

[2019-08-26 08:00] dboyliao commented on #170
I'm pretty sure the original softmax in uTensor is incorrect.
The new softmax pass my unit test so I'm like over 90% confidence my softmax is aligned with TF's on both 1D or 2D tensors.
On the other hand, since Keras is a high-level TF api, I'm not sure if it did anything unexpected procedures and need further integration test to see if my PR solve your issue.

[2019-08-26 12:05] janjongboom commented on #170
@dboyliao @neil-tan I've tested this against the `fix-softmax` branch, updated my graph to:

[code]

But still yields the same results.

[2019-08-26 13:22] janjongboom opened #174 "Sigmoid op type"
Given the current bug around Softmax I figured I'd try Sigmoid as my activation function. Unfortunately it's not supported:

[code]

Is there a place to track progress for these ops?

[2019-08-26 16:02] dboyliao commented on #170
I see.
Then there should be some bugs in the intermediate layers.
Given that I've run unit tests on the `SoftmaxOp`.
It will take me a while to find it.

[2019-08-26 16:07] dboyliao commented on #170
Let's see if I can come up with an automatic tests generator :p

[2019-08-26 17:35] janjongboom commented on #170
@dboyliao @neil-tan Could you confirm that I'm using the API correct here?

https://github.com/janjongboom/utensor-misclassifies/blob/e0bfb95df3cdd97a5a665e055e7f656e9797ad64/fw/main.cpp#L30

If the softmax issue is now fixed, I might be using the API wrongly?

[2019-08-26 17:40] Knight-X commented on #170
I think that api usage is fine for acquiring output tensor.

[2019-08-27 13:49] neil-tan commented on #162
@janjongboom
By blanketing the entire inference code in a scope: `{` after line 15 and `}` after line 70. There's no indication of memory leak:
[code]

@Knight-X @mbartling
I suspect what may have seen as a memory leak was cause by the `main()` holding on to the output tensor's share-pointer. It has never gone out of scope as the last `print_memory_info()` was called. This was originally by design

[2019-08-28 10:33] janjongboom commented on #162
@neil-tan My feeling for this API would be that uTensor should not handle input / output memory. The application passes in the input layer, with memory owned by the application; and the application passes in memory for the output layer (also memory owned by the application). Add some compile-time guarantees for the types. Also I believe the API will be much cleaner this way.

E.g.:

[code]

[2019-08-28 15:50] janjongboom commented on #166
+1000

[2019-09-02 10:30] janjongboom opened #175 "exp() call in SoftmaxOp leads to overflow (fix-softmax branch)"
@dboyliao In your `fix-softmax` branch you're calling `exp()` on the logits, but this leads to overflows (at least on my super simple test model) quickly.

My logits (and the result of the `exp()` call) are:

[code]

Now this infinity value bubbles through to my results which yields a `nan` value.

[2019-09-02 11:20] janjongboom commented on #170
I have looked into the fix @dboyliao provided for SoftmaxOp (which was indeed broken). But this is an issue at a deeper end as the values are already incorrect when passing them into the SoftmaxOp:

[code]

As you see here logit 0's value is too high already...

[2019-09-02 13:21] janjongboom opened #177 "Quantized ops are slow"
Running on DISCO-L475VG-IOT01A development board (Cortex-M4F) a quantized network is much slower than a non-quantized one. Simple MLP 33x20x10x5 with ReLu activation between the dense layers and SoftMax for output layer takes ~330 ms. with quantization, but only ~43 ms. without quantization. This is with all layers in flash.

Is this a known issue and any idea on how to make this faster? Could it

[2019-09-03 07:37] janjongboom opened #179 "circleci build fails: Not a git repository"
@mbartling

When running `circleci build` against `revert-172-revert-171-fix-softmax` branch:

[code]

[2019-09-03 08:10] dboyliao commented on #179
Have you tried `git submodule update --init --recursive`?

[2019-09-03 08:10] dboyliao commented on #179
Looks like you forget to initialize the submodules

[2019-09-03 09:05] janjongboom commented on #179
Ah, OK. It built fine otherwise, so hadn't realized that.

[2019-09-03 09:05] #179 closed

[2019-09-03 09:08] janjongboom commented on #170
I have put a (I think also helpful for other things) tool here that compares output between uTensor and TF:

https://github.com/janjongboom/utensor-fuzzer

It currently finds 383 cases in the associated test file where uTensor misclassifies. Output is something like this:

[code]

Note that when quantization is disabled all these errors disappear, so it's definitely something there.

[2019-09-03 09:11] dboyliao commented on #170
Okay. Good to know that the issue is due to quantization.
I'll try to see if I can integrate your work into the cli so it'd be much easier to run the tests.

[2019-09-03 09:24] janjongboom commented on #170
@dboyliao I've added the simplest case that I can think of too here: https://github.com/janjongboom/utensor-fuzzer/tree/super-simple-usecase. Just a two-layer NN (one input layer, then softmax layer) and two examples (one is OK, one is wrong).

[2019-09-13 03:19] metanav opened #180 "Does uTensor support only NN?"
Can we also use LinearClassifier or RandomForest?

[2019-09-13 16:27] neil-tan commented on #180
As long as the resulting computational graph consists only of the op supported ([see readme](https://github.com/uTensor/uTensor)). That being said, I believe RandomForest will be unlikely until branching is supported? Tagging @dboyliao

[2019-09-16 12:25] neil-tan opened #181 "Context refactoring"
Draft for context changes
- Operators on stack
- Tensor name and pointer mapping for easier operator porting
- Easier breakpoint setting
- Extensibility for tensor object-pooling, persistent operators, offline-lifecycle planner for tensor object

Things to consider:
- Would the template usages here increase the binary size significantly.
- Consider making our own hash-tables, or, a form of tensor-

[2019-09-16 19:33] mbartling commented on #181
FYI, this will not compile for more than 1 types T unless the typename args are all different types, You can get around it by appending an optional type at the end `T x = std::get_default<T>()`
[code]

[2019-09-16 20:02] mbartling commented on #181
I didn't have a lot of time, but here's a refactored draft proposal:

https://github.com/uTensor/uTensor/blob/proposal/new_interface/proposals/massive_context_refactor.cpp

[2019-09-17 14:33] dboyliao commented on #181
@mbartling I don't get it.
Why does @neil-tan's implementation won't compile unless `typename Args...` are all different types?
I don't see there is such constraint on variadic template.

[2019-09-17 14:49] neil-tan commented on #181
It currently compiles and works with the code below. But, I can dig deeper:
[code]

[2019-09-17 15:41] mbartling commented on #181
@dboyliao `typename Args...` generally expands to `T1 arg1, T2 arg2, ...` so it's possible depending on the context to get duplicate function definitions. The major point is that the input type T is not actually a parameter in the function signature `Tensor* add(TName _name, unsigned char _ref_count, Args&&... args) {`

[2019-09-17 15:45] dboyliao commented on #181
Oh, I see.
That is an issue, really.

[2019-09-20 10:10] neil-tan commented on #181
An updated draft, see minor changes in the code snippet.
The intention is to incorporate some ideas proposed by @mbartling in his draft above.
In his proposal, primarily:
- Tensor-handle
- Tensor-allocator
- operator input-output builder/mapper

The updated proposal here address these points:
- While tensor-handle would enable more flexibility in-terms of runtime memory management and act as a lay

[2019-09-20 13:39] mbartling commented on #181
@neil-tan "While tensor-handle would enable more flexibility in-terms of runtime memory management and act as a layer of dense while programming with raw-pointers, developers and users are unlikely to work with pointers directly with the aid of code-gen. Offline memory planning should be adequate for most use-cases. With the update proposal, tensor-handle can be added in the future if necessary."

[2019-09-20 14:30] neil-tan commented on #181
@mbartling  To reiterate, the raw tensor-pointers are exposed within the uTensor code-base itself. Application developers and the majority of uTensor users will not be interacting with tensors directly (upcoming user-api changes) nor dealing with operators. Though, the contributors and core-developers will have to deal with operators and tensor pointer; they need to know how to work with raw-point

[2019-09-20 15:44] mbartling commented on #181
Assumptions:
1) Given a model, memory plan, dedicated memory allocator, and no external factors then subsequent model eval will result in the same sequence of allocations.
2) Two independent models each with their own memory plan, dedicated memory allocator, and no external factors will likewise have the same sequence of allocations on each memory allocator for subsequent calls to model eval

Cons

[2019-09-23 15:53] neil-tan commented on #181
Point #3 is taken: branching and non-deterministic simultaneous graph evaluation calls.

With a runtime allocator, it's possible that Tensor will be shuffled around in memory in response to the system states. There are 2 ways to facilitate this:
** Tensor-handles **
- The tensor-handle object points to (wraps) the actual tensor object
- Tensor-handles are always being passed/shared as references
-

[2019-09-23 16:02] mbartling commented on #181
"We should keep the syntax simple. I prefer not explicitly making pass-by-reference a requirement for tensor-handles. How would you implement this? Tensor c2 = c;"
-> We have two options here, either register each copy tensor handle in the allocator (silly), or construct a singleton type for the "reference" that makes it behave like pass by reference.

[2019-09-23 16:31] neil-tan commented on #181
@mbartling I tried to monkey around with `CopyTest& operator= (CopyTest& obj)`. Can't achieve the syntax we wanted with it.

1. register each copy tensor handle in the allocator
- nah

2. singleton type
- are you defining a new class for every handle? or something else?

[2019-09-24 13:18] mbartling commented on #181
Can you give me some requirements for user interface here? I much prefer we only have one allocation of the Tensor handle with shared references. It makes cleanup 10000x easier.

[2019-09-25 11:33] Knight-X commented on #181
I think that update a tensor ptr which is also propagated to other tensors which are referenced to it.

[2019-09-25 15:57] neil-tan commented on #181
One common theme around the syntax here for both examples, `op.inputs.input = ctx["MatMul_eightbit/x__port__0/reshape:0"];`, and, `Tensor c2 = c;`, are they only involved only a assignment operator each. Keep this convention helps us to keep the codebase clean and consistent.

I think what @Knight-X is suggesting is having reference to pointers. That might probably work?

@mbartling , there are ca

[2019-09-25 19:14] mbartling commented on #181
@neil-tan TensorHandles are references to pointers XD

As for the `op.inputs.input = ctx["MatMul_eightbit/x__port__0/reshape:0"];`, and, `Tensor c2 = c;`

That's easy as long as we differentiate between a tensor handle copy and an "original". Easiest solution here is to maintain a union ptr to either a `raw tensor`(mutable) or an internal reference to a `TensorHandle&` (which by language nature ca

[2019-10-01 15:48] dboyliao opened #182 "Tensor setup via method chaining"
Sth like this:
[code]
It'll be a lot easier to design a template for the code generator if we have many mechanism to control how tensor behave at the runtime.
Mostly mem allocation for now, but I can see there'll be more to come in the future.

[2019-10-03 07:18] neil-tan opened #183 "Universal Inference API"
**Abstract**
Individual frameworks such as uTensor and TFLM have their own sets of on-device APIs. In some cases, significant boilerplate code and framework-specific knowledge are required to implement an inference task at its simplest form. A developer-friendly universal high-level inference API will be valuable for on-device ML.

On-device inferencing is generalized into these steps:
-    Config

[2019-10-03 13:05] mbartling commented on #182
I like the idea of chaining, but what do you mean by setAddress?

[2019-10-04 07:04] dboyliao commented on #182
Oh, It's about @Knight-X's mem allocation optimization pass.
That is, allocate the tensor at specific address (in mem pool managed by uTensor runtime).

[2019-10-04 07:05] neil-tan commented on #182
aka. offline memory planning

[2019-10-04 07:06] dboyliao commented on #182
The naming is just for illustrate the idea.
Maybe we can use another more informative name.

[2019-10-15 13:50] mbartling commented on #182
Force addressing here is kinda scary, especially if you rope in linker scripts like most people do in production environments

[2019-10-15 15:36] mbartling commented on #182
Method chaining can also be done super efficiently :D

[2019-11-04 23:50] mbartling commented on #181
https://github.com/mbartling/uTensor/blob/proposal/new_interface/proposals/massive_context_refactor.cpp

[2019-11-06 21:55] neil-tan commented on #183
char input_buffer[512];
ExampleTensorObject* input_tensor_obj;
int result[1];

MyModel model; //generated
model.setArenaSize(1024);
model.bind_input0(input_buffer, shape, type);
model.bind_input1(input_tensor_obj);
model.bind_prediction0(result, 1);
model.run();

printf(“The inference result is: %d”, result[0]);

[2019-11-06 21:59] mbartling commented on #183
I think the metadata memory allocator should be fixed in size at model construction, but I am OK with the data scratchpad being on the heap.

Might look something like this:
`MyModel<MetaDataSize> model;`
`model.setTensorDataMemSize(ScratchPadSize);`

[2019-11-06 22:03] mbartling commented on #183
[code]

[2019-11-10 08:02] janjongboom opened #184 "State of convolution?"
Hi @neil-tan, @dboyliao,

What's the state of convolutional neural networks? I thought they were supported already... This is my Keras model definition (which seems pretty trivial):

[code]

Which yields the following error when exporting to uTensor (quantization disabled):

[code]

@dboyliao Is using MaxPool layers in https://github.com/uTensor/simple_cnn_tutorial/blob/master/model.py#L97 so has

[2019-11-10 08:08] janjongboom commented on #184
`AvgPool` also doesn't work, so I'm wondering which pooling layers are supported...

[2019-11-22 04:12] #99 closed

[2019-12-04 01:23] dboyliao commented on #184
As the error message suggests, there is an unsupported op, `Prod`, in your graph.
Not sure if its about how Keras implements conv layer.
I'm pretty sure plain TF conv is supported in uTensor.

Pooling layers are defined here:
https://github.com/uTensor/uTensor/blob/develop/src/uTensor/ops/NnOps.hpp
And yes, we have only max pooling.

[2019-12-04 01:25] dboyliao commented on #180
I think so.
And it will take us four a long time to get there ;)

[2019-12-04 01:25] dboyliao commented on #175
the PR is merged, closing this issue.

[2019-12-04 01:25] #175 closed

[2019-12-11 06:38] neil-tan commented on #77
This is done

[2019-12-11 06:38] #77 closed

[2019-12-11 06:38] neil-tan commented on #96
done

[2019-12-11 06:38] #96 closed

[2019-12-20 06:07] neil-tan commented on #181
Summarizing an offline discussion I had with @mbartling:
- Going ahead with Tensor-handle
- Prefer Operator's inner-structs for input/output tensors over TensorMap. However, TensorMap will still be in the proposal for future reference.
- Try eliminating unnecessary function calls/indirections. We are trying to reduce latency.

[2020-01-03 11:30] neil-tan commented on #183
We should be able to update the following draft to the re-arch without problem.

[code]

@mbartling Thoughts?
One issue I have is that tensors cannot be created before the model, unless we want to explicitly instantize the context and allocators.
And, what would be a good way to keep the input/output tensors alive?

[2020-01-03 15:23] mbartling commented on #183
Just as an FYI my brain is totally dedicated to the rearch right now so I might be misreading your concerns.

The primary issue here is where do the meta-data allocator and RAM data allocators live, or if they are separate entities at all.

   This is the job of the model class, either at construction or at model run.

  Honestly I am in favor of the user requesting references to input/output list

[2020-06-18 17:01] mbartling opened #206 "Reference Operators shouldnt compile for uint8 and int8"

[2020-09-22 09:56] MatteoDonati opened #213 "Shape of input array in Conv1D operation"
Hello everyone,

I'm currently trying to import a 1D CNN from Tensorflow using Mbed. In particular, I have data from six different sensors stored as follow:

`input_data[150][6] = { {x1, y1, z1, x2, y2, z2}, {x1, y1, z1, x2, y2, z2}, {x1, y1, z1, x2, y2, z2}, ... }`

so basically, in each batch, I have 150 timesteps, and in each timestamp I have six values (channels).

In my C++ code I create a ne

[2020-09-22 14:27] mbartling commented on #213
Hey @MatteoDonati, yes the input sizes are correct here but the expected types in the model are not. It looks like the convolutional layer is expecting a symmetric quantized input (signed char) but you are passing a float to it.

[code]

Is your input data a float? if so I recommend stitching in a symmetric quantize operator. This ops quantization params should be configured by the codegen (either

[2020-09-22 14:29] mbartling commented on #206
Fixed in https://github.com/uTensor/uTensor/pull/212

[2020-09-22 14:29] #206 closed

[2020-09-22 18:12] MatteoDonati commented on #213
Thank you for the quick response @mbartling!

I confirm that `input_data` is a float array but looking at "model.hpp" and "model.cpp" I don't see any mention to the type signed char.

I used Keras to define, train and evaluate my model. Below is the code used to create it:

[code]

where `N_TIMESTEPS = 150`, `N_FEATURES = 6`, `N_CLASSES = 4`.

And this is the code used to generate the C++ model:

[2020-09-22 18:28] mbartling commented on #213
Ah confirmed, the model looks correct! Turns out we added a bunch more quantized operators recently, including quantized Conv2D, and those are waiting for the next minor release. You can get them working by switching the uTensor branch from `master` to `develop`. Develop has been pretty stable lately, but let me know if you have any trouble with this.

FYI, the operators maintain a **mostly** comm

[2020-09-22 19:37] MatteoDonati commented on #213
Thank you!

I tried to switch uTensor to `develop` and now I get a different error:

[code]

I'm sorry to bother you this much.

[2020-09-22 19:52] mbartling commented on #213
Cool I fixed a small issue with duplicate names in that operator (using `input` as both a Tensor and an enum). If you pull develop it should be fixed.

@dboyliao can you add a test for this op?

[2020-09-23 01:03] dboyliao commented on #213
You mean `Conv1D`?
Sure thing.
I can probably do it this weekend.

[2020-09-23 01:21] dboyliao commented on #213
@MatteoDonati which branch do you compile against?
From the log, I see `output[new_offset]` and it is not correct syntax.
But I can't find that line of code on `develop` branch.

FYI, `output` is a `Tensor` not ordinary `array` so you should not use `[]` to pass offset.
You should use `()` operator instead.

[2020-09-23 01:23] mbartling commented on #213
@dboyliao I updated the `[]` to `()` with the name collision bugfix above.

[2020-09-23 01:24] dboyliao commented on #213
Oh, I see.

[2020-09-23 01:25] mbartling commented on #213
Hey @MatteoDonati, sorry for the inconvenience, but ReduceMean is one of the few untested ops in uTensor. We will work on adding a test and letting you know when it's done. For now I will go ahead and mark it with the correct tag.

[2020-09-23 01:26] dboyliao commented on #213
FYI, this is the relevant PR:
https://github.com/uTensor/uTensor/pull/209

[2020-09-23 09:03] MatteoDonati commented on #213
Thank you everyone!

I was able to compile the application. The problem now is that for every different `input_data` I provide I get always the same output value for each class: [output_log.txt](https://github.com/uTensor/uTensor/files/5266869/output_log.txt).

This is the code used in main.cpp:

[code]

[2020-09-23 13:15] mbartling commented on #213
Yeah my guess is this has to do with the reduce mean. Do you have access to a debugger? If so can you check that the inputs to reduce mean are always different?

[2020-09-23 15:36] MatteoDonati commented on #213
Unfortunately I don't, I'm sorry.

[2020-09-24 14:59] mbartling commented on #213
Hey @MatteoDonati i think I know what the issue is with reduce mean, I will work on a fix for it sometime this afternoon and let you know.

[2020-09-24 15:14] MatteoDonati commented on #213
Thank you very much, I'll wait!

[2020-09-24 16:12] mbartling commented on #213
Update: I am dumb and misread MaxPool as ReduceMean, so that's not the issue. @dboyliao @MatteoDonati do you know how weights are stored in kera's Conv1D? I know TFLM does some shuffling of the weight tensor, and may be that only affects Conv2D.

[2020-09-24 16:32] dboyliao commented on #213
@mbartling
The Keras Conv source code:
https://github.com/tensorflow/tensorflow/blob/v2.3.0/tensorflow/python/keras/layers/convolutional.py#L194-L204

It looks like the filter shape is of `(*kernel_size, in_channel, out_channel)`.
At least it's true for Keras, not sure if it's the same for TFLM.

[2020-09-24 16:32] dboyliao commented on #213
Here is the `add_weight`:
https://github.com/tensorflow/tensorflow/blob/v2.3.0/tensorflow/python/keras/engine/base_layer.py#L478-L490

[2020-09-24 16:33] dboyliao commented on #213
It basically create a variable tensor and return it.

[2020-09-24 16:56] MatteoDonati commented on #213
If it can help, I just tried to use Conv2D instead of Conv1D in Keras:

[code]

so now `input_data` has shape (1, 150, 6).

I tried to compile the application using the same version of uTensor used in [utensor-helloworld](https://github.com/uTensor/utensor-helloworld) and this gave me the same error posted [here](https://github.com/uTensor/uTensor/issues/213#issue-706238054).
The problem is that t

[2020-09-24 17:49] mbartling commented on #213
Just double checking, are you on the develop branch of uTensor? Also can you post which convolution2D operator get's generated? Is it in the `ReferenceOperators` namespace, or is it in the `TflmSymQuantOps` namespace?

Sorry for any confusion/roundabout debugging

[2020-09-24 18:04] MatteoDonati commented on #213
When I saw that Conv2D was not compiling even with the same version of uTensor used in utensor-helloworld I switch to the `develop` branch, like I did before, but I get always the wrong output when I run the inference (the output is always the same).

The operators generated are:

[code]

so the Conv2D is in `ReferenceOperators`.

[2020-09-24 18:08] mbartling commented on #213
@MatteoDonati can you DM me on the utensor slack? I want to set up a virtual debug session, it seems really odd that you are always getting the same output.

[2020-09-24 20:34] MatteoDonati commented on #213
Just sent you a message, thank you.

[2020-10-19 14:40] #184 closed

[2020-11-17 02:50] victorromeo opened #215 "Underflow on TensorStrides size_t indexor"
The TensorStrides constructor implementation in 976ad844950ed1c683e8b8e1a7c42ed8a0a62f61 overflows, due to use of unsigned type in the second for loop, caused by decrementing below 0.
[code]
Recommend signed indexor of type int32_t
[code]

[2020-11-17 04:37] dboyliao commented on #215
@victorromeo Thanks for reporting this issue.
Could you please give me an example which may cause the issue you report?
I don't quite get why the `i` in the second loop will go below 0.

[2020-11-17 04:59] victorromeo commented on #215
As a minor correction, the issue is underflow (not overflow), caused by the assessment of `i>=0` which repeats after `--i' when `i ==0`.  As a result the calculation of the internal loop operations loop can loop indefinitely.  Will provide example.

Revert to use `size_t` instead of `int32_t` and run the unit tests checked in under #216 a segmentation fault occurs, due to an endless loop exhaustin

[2020-11-17 05:02] victorromeo commented on #215
An alternative fix would be to continue using size_t but increment the indexor used by the for loop.

[code]

[2020-11-17 12:56] dboyliao commented on #215
@victorromeo Nice catch.
I didn't notice `>= 0` will cause such underflow.
I don't under stand why your alternative fix works.
`_strides[i+1] = s;` looks weird to me.

Let's say we have 3 dim tensor with shape [3, 4, 2].
The expecting `_strides` should be `[8, 2, 1, 0]`.
In the first loop, the `_strides` is initialized to `[*, *, *, 0]`
And the `last_idx` is `2`.

In the second loop, `s = 1`:
`i =

[2020-11-30 15:30] mbartling opened #219 "Models interface should push and pop default allocator context on eval"
To support multiple allocator contexts in the tensor destructor, model interface should push and pop current allocator pointers to a queue in the default current context else risks failed destruction

[2020-11-30 15:37] mbartling commented on #219
@dboyliao found it

[2020-11-30 15:38] dboyliao commented on #219
Example code to reproduce the error:
https://github.com/dboyliao/PyDataTP_2020/blob/master/4_model_interface/model_interface.cpp

[2020-11-30 15:50] dboyliao commented on #219
As a side note, the main issue is that we need to switch the ram & meta allocator back to those in the user space after model eval.
Since model eval will temporary switch allocators to the ones inside the model, not the ones in user space.

If we forget to switch allocators back, tensor deconstructor will fail.

[2020-12-06 04:33] balajikulkarni commented on #215
Is this issue still open? I am looking for a good first issue to pick up for contributing to uTensor project.

[2020-12-07 03:05] dboyliao commented on #215
@balajikulkarni
This issue has been closed by #216.
I should close this issue.
Thanks for pointing it out.

[2020-12-07 03:05] #215 closed

[2021-01-18 03:59] victorromeo opened #221 "Generic Pool Ops are zero"

[2021-11-05 19:24] acilione opened #225 "not compiling because of arenaAllocator.cpp error"
[Error] arenaAllocator.cpp@37,59: non-void function does not return a value [-Werror,-Wreturn-type]
[ERROR] ./uTensor/src/uTensor/allocators/arenaAllocator.cpp:37:59: error: non-void function does not return a value [-Werror,-Wreturn-type]

// Return the amount of free space at the tail
uint32_t localCircularArenaAllocatorBase::tail_capacity(){};

this is the function the causes the error, what sh

[2021-11-08 20:56] mbartling commented on #225
Hi @acilione, this method is mostly meant for some advanced integration tests (that I haven't gotten around to yet). You should be able to get by with having the method return 0 for now.

-Michael

[2021-11-09 10:59] acilione commented on #225
Thank you, I got it solved. Just for info, it gave me another error:
[Error] ReduceFunc.hpp@22,57: no matching constructor for initialization of 'uTensor::ReferenceOperators::ReduceOperator'
[Error] ReduceFunc.hpp@32,19: '_dims' is a private member of 'uTensor::ReferenceOperators::ReduceOperator'
[ERROR] In file included from ./uTensor/src/uTensor/ops/ReduceFunc.cpp:1:

but I managed to run correc

[2021-11-09 12:50] mbartling commented on #225
Weird, I haven't seen this crop up in the past. Which compiler and target are you using? Am going to try to reproduce it.

[2021-11-09 13:45] acilione commented on #225
I'm using DISCO_L475VG_IOT01A and ARMC6.
Hope this helps

[2021-11-09 14:42] acilione commented on #225
I now managed to get it to compile correctly without commenting out all the file, with the following fixes:
in ReduceFunc.hpp:

/***original code***/
class ReduceOperator : public OperatorInterface<2, 1> {
 public:
  ReduceOperator(initializer_list<uint16_t> dims);
  uint32_t adjust_linear_idx(Tensor& tensor, uint32_t idx);

 private:
  uint16_t _dims[4];
};
/****************/

/***fixed code***/

[2021-11-20 19:33] #225 closed

[2022-04-11 08:31] Thauolar opened #227 "Write a proper guide on how to implement please"
Coolthanks

[2022-04-12 14:34] dboyliao commented on #227
Hi, @Thauolar.

I've done this stage by stage, step by step tutorial for PyData Taipei 2020 sprint:
https://github.com/dboyliao/PyDataTP_2020

Following the tutorial, it will guild you through different stages of development with uTensor, including extending uTensor with your own operators and wrapping it with uTensor model interface.

Also, the core design documentation of uTensor can be found he

[2022-05-07 05:30] #227 closed